name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4

      - name: Check Swift version
        run: swift --version

      - name: Build
        run: swift build

      - name: Run Tests
        run: swift test
